@model IEnumerable<WebApi.Models.ProductViewModel>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="myModalBody">

        </div>
    </div>
</div>
<div id="myMenu">
    <ul class="menu-items">
        <li class="detail">Detail</li>
        <li class="edit">Edit</li>
        <li class="delete">Delete</li>
    </ul>
</div>
<style type="text/css">
    #myMenu {
        position: absolute;
        border: solid 1px #CCC;
        width: 100px;
        background: #EEE;
        box-shadow: 2px 3px 3px #9b9b9b;
        border-radius: 1px;
        z-index: 10000;
        display: none;
    }

    .menu-items {
        list-style: none;
        margin: 0px;
        padding: 5px 1px 3px 1px;
        color: black;
    }

    .detail, .edit, .delete {
        padding: 8px;
        padding-left: 30px;
        font-size: 12px;
        font-family: 'Segoe UI';
    }

    .menu-items li:hover {
        color: white;
        background: #9b9b9b;
        border-radius: 2px;
        cursor: pointer;
    }
</style>

<div class="card-body" style="padding-top: 40px;">
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
        <div class="row form-group">
            <div class="col-lg-4">
                <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" style="width: 200px" />
            </div>
            <div class="col-lg-8" style="margin-left:-180px">
                <button type="submit" class="btn btn-success">Search</button>
                <a class="btn btn-primary" onclick="createNewProduct()">Add New</a>
            </div>
        </div>

        <div class="row form-group" style="padding-left: 15px;">
            <div class="table-responsive">

                <table id="myTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.Code</td>
                                <td>@item.Name</td>
                                <td>@item.MetaTitle</td>
                                <td>@item.Price $</td>
                                <td>@item.Quantity</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @{
                            int numberPage = ViewBag.numberPage;
                            int pageCurrent = ViewBag.pageCurrent;
                            int nextPage = pageCurrent + 1;
                            int prePage = pageCurrent - 1;
                            var searchString = ViewBag.SearchString;
                            if (pageCurrent > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="?page=@prePage&searchString=@searchString" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }
                            if (numberPage > 3)
                            {
                                if (pageCurrent != 1)
                                {
                                    <li class="page-item"><a class="page-link" href="?page=@prePage&searchString=@searchString">@prePage</a></li>
                                }
                                <li class="page-item"><a class="page-link" href="?page=@pageCurrent&searchString=@searchString">@pageCurrent</a></li>
                                if (pageCurrent < numberPage)
                                {
                                    <li class="page-item"><a class="page-link" href="?page=@nextPage&searchString=@searchString">@nextPage</a></li>
                                }
                                if (pageCurrent != numberPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?page=@nextPage&searchString=@searchString" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                for (int i = 1; i <= numberPage; i++)
                                {
                                    <li class="page-item"><a class="page-link" href="?page=@i&searchString=@searchString">@i</a></li>
                                }
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>
    }
</div>

@section scripts{
    @foreach (var item in Model)
    {
        <script type="text/javascript">
            $('#row_@item.ID').bind("contextmenu", function (e) {
                e.preventDefault();
                $('#myMenu').css({
                    top: e.pageY + 'px',
                    left: e.pageX + 'px'
                }).show();
                $('.detail').off('click').on('click', function (e) {
                    e.preventDefault();
                    $('#myMenu').hide();
                    $.get("/Product/DetailProduct", { id: @item.ID }, function (res) {
                        $("#myModalBody").html(res);
                        $("#myModal").modal('show');
                    })
                })
                $('.edit').off('click').on('click', function (e) {
                    e.preventDefault();
                    $('#myMenu').hide();
                    $.get("/Product/EditProduct", { id: @item.ID }, function (res) {
                        $("#myModalBody").html(res);
                        $("#myModal").modal('show');
                    })
                })
                $('.delete').off('click').on('click', function (e) {
                    e.preventDefault();
                    $('#myMenu').hide();
                    $.ajax({
                        url: "/Product/DeleteProduct",
                        data: { id: @item.ID },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                $("#row_" + @item.ID).remove();
                                alert("Delete Success...");
                            } else {
                                alert("Delete Error...");
                            }
                        }
                    })
                })
            })
            $(document).ready(function () {
                $(document).click(function () {
                    $('#myMenu').hide();
                });
            });
        </script>
    }

    <script type="text/javascript">
        function createNewProduct() {
            $.get("/Product/CreateNewProduct", function (res) {
                $("#myModalBody").html(res);
                $("#myModal").modal('show');
            })
        }

        function createProduct() {
            var form = $('form[name="productForm"]');
            var data = form.serialize();
            $.post("/Product/CreateProduct", data, function (res) {
                if (res == true) {
                    window.location.href = "/Product/Index";
                } else {
                    $("#myModalBody").html(res);
                    $("#myModal").modal('show');
                }
            })
        }

        function updateProduct(id) {
            var form = $('form[name="productForm"]');
            var newForm = form.add('<input name="ID" value="' + id + '" /> ');
            var data = newForm.serialize();
            $.post("/Product/UpdateProduct", data, function (res) {
                if (res == true) {
                    window.location.href = "/Product/Index";
                } else {
                    $("#myModalBody").html(res);
                    $("#myModal").modal('show');
                }
            })
        }
    </script>

    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
        });
    </script>

    <script type="text/javascript">
        $('#myTable').DataTable({
            paging: false,
            searching: false
        });
    </script>
}